{
  "bot_token": "0:AA",
  "logs_id": -100,
  "logs_topic_id": 0,
  "db_dsn": "host=10.10.10.2 port=5432 dbname=feedbackBot user=feedbackBot password=feedbackBot",
  "welcome": {
    "enabled": true,
    "message": "Hello! Write a message and I'll send it to my owners."
  },
  "is_protected_default": false
  "language_filter": {
        "enabled": true,
        "forbidden_languages": ["en", "ru"],
        "message": "Sorry, but I can't assist you because of your Telegram's language.",
        "error_rate_limit": 60
    }
}
